<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<?xml version="1.0" encoding="iso-8859-1"?>

<html>
	<head>
		<title>Office Documents - Classic template: With page breaks</title>
	</head>
	<body>	
		<!--###RLMP_OFFICEDOCUMENTS_TEMPLATE### begin -->
			<div class="tx_rlmpofficedocuments_browsebar">
				<table style="width:100%; vertical-align:middle;">
					<tr>
						<td style="text-align:left; width:10%;">###PREVIOUS_LINK###&nbsp;</td>
						<td style="text-align:center; width:80%;"><strong>###DOCVARS_TITLE###</strong><br />###PAGE_TITLE###</td>
						<td style="text-align:right; width:10%;">&nbsp;###NEXT_LINK###</td>
					</tr>
				</table>
			</div>

			###HEADER###

			###CONTENT###
			
			###FOOTER###

			<div class="tx_rlmpofficedocuments_browsebar">
				<table style="width:100%; vertical-align:middle;">
					<tr>
						<td style="text-align:left; width:10%;">###PREVIOUS_LINK###&nbsp;</td>
						<td style="text-align:center;">###DOWNLOAD-LINK### ###TOC_LINK### ###PAGEBREAK_SWITCH###</td>
						<td style="text-align:right; width:10%;">&nbsp;###NEXT_LINK###</td>
					</tr>
				</table>
			</div>

			<table style="width:100%; vertical-align:middle;">
				<tr>
					<td style="text-align:left; width:50%;">###DOCVARS_CREATOR###</td>
					<td style="text-align:right; width:50%;">###PAGE_NUMBER### / ###TOTAL_PAGES###</td>
				</tr>
			</table>					
		<!--###RLMP_OFFICEDOCUMENTS_TEMPLATE### end -->
	</body>
</html>